nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 2.6rem;
  background-color: lightgoldenrodyellow;
}

nav a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

nav a:hover {
  color: cadetblue;
}

nav a svg {
  margin-right: 5px;
}
